<h1>Editing token</h1>

<%= render "form", crypto_token: @crypto_token %>

<br>

<div>
  <%= link_to "Show this token", @crypto_token %> |
  <%= link_to "Back to tokens", crypto_tokens_path %>
</div>
